<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173688996241-igshlndk6cc00a7om4olvc4l9kah1put.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173688996241-igshlndk6cc00a7om4olvc4l9kah1put</string>
	<key>API_KEY</key>
	<string>AIzaSyBrKJqA5sCvj8PVoJFIeBu1wyvMFlmRUYc</string>
	<key>GCM_SENDER_ID</key>
	<string>173688996241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.autotherapia</string>
	<key>PROJECT_ID</key>
	<string>autotherapia137</string>
	<key>STORAGE_BUCKET</key>
	<string>autotherapia137.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173688996241:ios:5bad8feea24b9bf4a25a30</string>
</dict>
</plist>